VITE_API_BASE_URL=/api
VITE_AUTHENTIK_BASE_URL=https://auth.psuccso.org
VITE_AUTHENTIK_CLIENT_ID=your-client-id
VITE_AUTHENTIK_REDIRECT_URI=http://localhost:3010/auth/callback
VITE_AUTHENTIK_LOGOUT_ENDPOINT=/application/o/mrm360/end-session/

# Discord OAuth2 Configuration
VITE_DISCORD_CLIENT_ID=your_discord_oauth2_client_id_here
VITE_DISCORD_REDIRECT_URI=http://localhost:3010/join/dd-verify
